<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sobre.css">
    <title>Sobre</title>
</head>
<body class="bg">
    <fieldset>
    <h1>Futevôlei</h1>
    

    <p>O futevôlei ou futevólei é uma modalidade de esporte de areia praticada em quadras montadas nas orlas. O esporte foi originado nas praias do Rio de Janeiro por volta de 1960 e, ao longo do tempo, cresceu dentro do Brasil, assim como na Europa, na Ásia e nos Estados Unidos.</p>

    <p>É um esporte com bola, numa quadra de vólei, bem parecida com a de vôlei de praia, com as medidas de 9 m de largura e 18 de comprimento, dividida ao meio por uma rede com 2,20 m de altura</p>
    </fieldset>

    <fieldset class="fd">
    <h2>Regras</h2>
    
    <p>É jogado em sistemas de duplas 2x2, trios 3x3 ou quartetos 4x4.
       Masculinos, femininos ou mistos, deve-se tocar a bola com qualquer parte do corpo, exceto os braços, antebraços e as mãos como no futebol.</p>

    <p>Cada dupla pode dar até 3 toques na bola, sendo que um jogador não pode tocar duas vezes seguidas tal como no vôlei ou vôlei de praia.</p>

    <p>O jogo é disputado, como no vôlei, em disputa de sets (de 18 pontos sem vantagem) em que os pontos são marcados quando a bola cai na quadra adversária, é desviada para fora das quadras pelos mesmos ou bate em qualquer outro jogador e bate no chão.</p>
    </fieldset>

</body>
</html>